<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
    <meta name="description" content="Рецепты">
    <meta name="keywords" content="рецепт">
    {% endblock %}
    {% block title %} <!--== Title ==--> {% endblock %}

    <!-- Og tags -->
    <meta property="og:title" content="Kitchen World">
    <meta property="og:description" content="Let's coock">
    <meta property="og:type" content="article">
    <!-- <meta property="og:image" content="https://site-name.ua/img/preview.jpg"> -->
    <meta property="og:site-name" content="KitchenWorld">

    <!-- Styling -->
    <!-- <meta name="theme-color" content="#FF7629">
    <link rel="apple-touch-icon" href="{% static 'main/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.svg"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
   {% block css %} <!--== Title ==--> {% endblock %}
</head>

<body>

<nav class="nav" id="nav">
        <div class="container">
            <div class="nav__wrapper">
                <a href="{% url 'home'%}" class="logo"></a>
                <ul class="nav__list">
                    <li class="nav__item {% if menu_active == 'home' %}active{% endif %}">
                        <a href="{% url 'home'%}">Главная</a>
                    </li>
                    <li class="nav__item {% if menu_active == 'catalogue' %}active{% endif %}">
                        <a href="{% url 'catalogue'%}">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">О нас</a>
                    </li>
                </ul>
                <form class="search" action="{% url 'main_search' %}" method="get">
                    <input class="input" type="text" name="main-search" required placeholder="Найти" id="search-input">
                    <button class="search-btn" type="submit"></button>
                </form>

                {% if request.user.is_authenticated %}
                <a href="{% url 'my_recipes' %}">
                    <img class="profile" src="{% if user.author.photo %} {{user.author.photo.url}} {% else %} {% static 'main/images/user.svg' %} {% endif %}">
                </a>
                <a href="{% url 'logout' %}" class="login-btn active">Выйти</a>
                {% else %}
                <a href="{% url 'login' %}" class="login-btn active">Войти</a>
                {% endif %}

            </div>
        </div>
</nav>
<div class="main-wrapper">
    {% block extends_header %} <!--== ExtendsHeader ==--> {% endblock %}


    {% block main_content %} <!--== MainContent ==-->    {% endblock %}
</div>
<!--== Start Footer ==-->
<footer class="footer" id="footer">
    <div class="container">
        FOOTER
    </div>
</footer>
<!--== End Footer ==-->

<!--==  JAVASCRIPT  ==-->
<script src="{% static 'main/js/jquery-3.6.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'main/js/main.js' %}"></script>

{% block custom_js %} <!--== CustomJS ==--> {% endblock %}

</body>

</html>