{% extends "main/base_generic.html" %}

{% load static %}
{% load main_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/catalogue_style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}<title>Kitchen World Соцсеть для кулинаров</title>{% endblock %}


{% block main_content %}
    <section class="section recipes">
        <div class="recipes-container ">
            <div class="recipes-wrapper">
                <div class="menu">
                   <h2 class="menu-title">
                        Фильтры
                    </h2>
                    <form method="get" id="cat_filt">
                        <div class="filter-submit-btn">
                            <button type="submit" class="btn submit active">Искать</button>
                            <button form="cat_filt" type="reset" class="btn submit" onclick="resetAllFilters(this.form)">Сбросить фильтры</button>
                        </div>
                            {% if request.user.is_authenticated %}
                            <p class="filter__item">Исключения</p>
                            <div class="switch-item menu__item filter-group">
                                 <label class="switch">
                                        <input  name="allergic" type="checkbox" value="true" {% if allergic_on == "true" %} checked {%endif%}>
                                     <span class="switch__slider round"></span>
                                 </label>
                                <p>Учитывать исключения</p>
                            </div>
                            {%endif%}
                        <p class="filter__item">Категории</p>
                        <div class="filter-group">
                            <ul id="categories_filters">
                                {% autoescape off %}
                                {% show_categories selected_categories categories_hierarchy %}
                                {% endautoescape %}
                            </ul>
                        </div>
                        <p class="filter__item">Ингредиенты</p>
                        <div class="filter-group">
                            <ul id="products_filters" class="products_filters">
                                {% for select_prod in selected_products %}
                                 <li class="menu__item">
                                        <input type="hidden" name="product" value="{{select_prod}}" checked>
                                        {{select_prod}}
                                        <button class="delete_cross" onclick="deleteProduct(this)" type="button"></button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                    <div class="product-choose-block btn-input-block filter-group">
                        <div class="ui-widget">
                            <input id="tags" class="autocomplete-input" name="prod_name" placeholder="Введите название ингредиента">
                            <button class="plus-btn btn active in-input-btn" onclick="addProduct(this)" type="button"></button>
                        </div>
                    </div>

                </div>
                <div class="content">
                    <div class="content__info">
                        <h2 class="section-title">
                            Каталог
                        </h2>
                        <div class="search">
                            <input class="input" form="cat_filt" onchange="this.form.submit()" type="text" name="search-input" {% if curr_search != "" %} value="{{curr_search}}" {%endif%} placeholder="Найти" id="search-input">
                            <button class="search-btn" type="submit" ></button>
                        </div>
                        <div class="order">
                            <p class="order-title">Сортировать по:</p>
                            <select form="cat_filt" name="sort" id="order-list" class="order__list" onchange="this.form.submit()">
                                <option class="order__item" name="sort" value="-date_of_creation" {% if selected_sort == "-date_of_creation" %} selected {%endif%}>
                                        Дате
                                </option>
                                <option class="order__item" name="sort" value="-num_of_stars" {% if selected_sort == "-num_of_stars" %} selected {%endif%}>
                                        Популярности
                                </option>
                                <option class="order__item" name="sort" value="title" {% if selected_sort == "title" %} selected {%endif%}>
                                        Алфавиту
                                </option>
                            </select>
                        </div>
                    </div>
                    {% if is_data_exist %}
                        <div class="cards-wrapper">
                            <!-- Insert cards -->
                            {% for recipe, r_photo in recipes %}
                                {% show_recipe_cart recipe r_photo request %}
                            {% endfor %}
                        </div>
                    {% else %}
                         <div class="recipe-not-found">
                             <img src="{% static 'main/images/recipe_icon.png' %}">
                            К сожалению, таких рецептов еще нет.. Но вы можете <a href="{% url 'my_recipes'%}">добавить новый рецепт</a>
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>


    </section>

{% endblock %}

{% block custom_js %}
{% if request.user.is_authenticated %}
<script src="{% static 'main/js/recipe_cart.js' %}"></script>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$( function() {
var availableTags = [ {% for prod in products %} "{{prod.name}}", {% endfor %}
];
$( "#tags" ).autocomplete({
  source: availableTags
});
} );
</script>
<script src="{% static 'main/js/catalogue.js' %}"></script>
{% endblock %}