{% extends "main/base_generic.html" %}

{% load static %}
{% load main_tags %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'main/css/catalogue_style.css' %}">
<!--    <link rel="stylesheet" href="main/css/catalogue_style.css">-->
{% endblock %}

{% block title %}<title>Kitchen World Соцсеть для кулинаров</title>{% endblock %}


{% block main_content %}
    <section class="section recipes">
        <div class="recipes-container ">
            <div class="recipes-wrapper">
                <form method="get" id="cat_filt">
                    <div class="menu">
                        <ul class="menu">
                            <button type="submit" class="btn submit active">Фильтровать</button>
                                {% if request.user.is_authenticated %}
                                    <input  name="allergic" type="checkbox" value="true" {% if allergic_on == "true" %} checked {%endif%}>Учитывать исключения
                                {%endif%}
                            <p>__________________________________</p>
                            <li class="nav__item">Категории</li>

                            {% autoescape off %}
                            {% show_categories selected_categories %}
                            {% endautoescape %}
                    </div>
                    <div class="menu">
                            <li class="menu__item">
                                <li class="nav__item">Ингредиенты</li>
                                <li class="menu__item">
                                    {% for prod_tp in prod_types %}
                                        <li class="menu__item">
                                            <details>
                                                <summary>
                                                        <li class="menu__item">{{prod_tp.name}}</li>
                                                </summary>
                                                {% for prod in product %}
                                                    {% if prod.product_type == prod_tp %}
                                                        <li class="switch">
                                                            <label class="switch">
                                                                <input  name="product" type="checkbox" value="{{prod.name}}" {% if prod.name in selected_products %} checked {%endif%} >
                                                                <span class="switch__slider round">
    <!--                                                                {{prod.name}}-->
                                                                </span>
                                                            </label>
                                                            {{prod.name}}
                                                        </li>
                                                    {%endif%}
                                                {% endfor %}
                                            </details>
                                        </li>
                                    {% endfor %}
                                </li>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="content">
                    <div class="content__info">
                        <h2 class="section-title">
                            Каталог
                        </h2>
                        <div class="search">
                            <input class="input" form="cat_filt" onchange="this.form.submit()" type="text" name="search-input" {% if curr_search != "" %} placeholder="{{curr_search}}" {% else %}placeholder="Найти" {%endif%}id="search-input">
                            <button class="search-btn" type="submit" ></button>
                        </div>
                        <div class="order">
                            <p class="order-title">Сортировать по:</p>
                            <select form="cat_filt" name="sort" id="order-list" class="order__list" onchange="this.form.submit()">
                                <option class="order__item" name="sort" value="-date_of_creation" {% if selected_sort == "-date_of_creation" %} selected {%endif%}>
                                        Дате
                                </option>
                                <option class="order__item" name="sort" value="-num_of_stars" {% if selected_sort == "-num_of_stars" %} selected {%endif%}>
                                        Популярности
                                </option>
                                <option class="order__item" name="sort" value="title" {% if selected_sort == "title" %} selected {%endif%}>
                                        Алфавиту
                                </option>
                            </select>
                        </div>
                    </div>
                    {% if is_data_exist %}
                        <div class="cards-wrapper">
                            <!-- Insert cards -->
                            {% for recipe, r_photo in recipes %}
                                {% show_recipe_cart recipe r_photo request %}
                            {% endfor %}
                        </div>
                    {% else %}
                         <div class="menu">
                            К сожалению, таких рецептов еще нет.. Но вы можете <a href="{% url 'my_recipes'%}">добавить новый рецепт</a>
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>


    </section>

{% endblock %}

{% block custom_js %}
{% if request.user.is_authenticated %}
<script src="{% static 'main/js/recipe_cart.js' %}"></script>
{% endif %}
{% endblock %}