{% extends "main/base_generic.html" %}

{% load static %}
{% load main_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/catalogue_style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}<title>Kitchen World Соцсеть для кулинаров</title>{% endblock %}


{% block main_content %}
    <section class="section recipes">
        <div class="recipes-container ">
            <div class="recipes-wrapper">
                <div class="menu" id="filters-menu">
                    <div class="menu__head">
                       <h2 class="menu-title">
                            Фильтры
                        </h2>
                        <button id="close-filters-menu-btn"></button>
                    </div>
                    <form method="get" id="cat_filt" action="{% url 'catalogue' %}">
                        <div class="filter-submit-btn">
                            <button type="submit" class="btn submit active">Искать</button>
                            <button form="cat_filt" type="reset" class="btn submit" onclick="resetAllFilters(this.form)">Сбросить фильтры</button>
                        </div>
                        <div class="menu-form-block">
                            {% if request.user.is_authenticated %}
                            <div class="menu_exception_filter" id="menu_exception_filter">
                                <div class="filter__item active">
                                    <p>Исключения</p>
                                     <img class="double-arrow" src="{% static 'main/images/double-arrow-down.png'%}">
                                </div>
                                <div class="switch-item menu__item filter-group active">
                                     <label class="switch">
                                            <input  name="allergic" type="checkbox" value="true" {% if allergic_on == "true" %} checked {%endif%}>
                                         <span class="switch__slider round"></span>
                                     </label>
                                    <p>Учитывать исключения</p>
                                </div>
                            </div>
                            {%endif%}
                            <div class="menu_category_filter" id="menu_category_filter">
                                <div class="filter__item active">
                                    <p>Категории</p>
                                    <img class="double-arrow" src="{% static 'main/images/double-arrow-down.png'%}">
                                </div>
                                <div class="filter-group active">
                                    <ul id="categories_filters">
                                        {% autoescape off %}
                                        {% show_categories selected_categories categories_hierarchy %}
                                        {% endautoescape %}
                                    </ul>
                                </div>
                            </div>
                            <div class="menu_product_filter" id="menu_product_filter">
                                <div class="filter__item active">
                                    <p>Ингредиенты</p>
                                     <img class="double-arrow" src="{% static 'main/images/double-arrow-down.png'%}">
                                </div>
                                <div class="filter-group active">
                                    <ul id="products_filters" class="products_filters">
                                        {% for select_prod in selected_products %}
                                         <li class="menu__item">
                                                <input type="hidden" name="product" value="{{select_prod}}" checked>
                                                {{select_prod}}
                                                <button class="delete_cross" onclick="deleteProduct(this)" type="button"></button>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="product-choose-block btn-input-block filter-group active">
                        <div class="ui-widget">
                            <input id="tags" class="autocomplete-input" name="prod_name" placeholder="Введите название ингредиента">
                            <button class="plus-btn btn active in-input-btn" onclick="addProduct(this)" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content__info">
                        <h2 class="section-title">
                            Каталог
                        </h2>
                        <div class="search">
                            <input class="input" form="cat_filt" onchange="this.form.submit()" type="text" name="search-input" placeholder="Найти по заголовку" id="search-input">
                            <button class="search-btn" type="submit" ></button>
                        </div>
                        <div class="filters-block">
                            <button class="filters-btn" onclick="showFiltersMenu()">
                                <p class="">Фильтры</p>
                                <img src="{% static 'main/images/filters-icon-green.png' %}" width="30px" height="30px">
                            </button>
                            <div class="order">
                                <p class="order-title">Сортировать по:</p>
                                <select form="cat_filt" name="sort" id="order-list" class="order__list" onchange="this.form.submit()">
                                    <option class="order__item" name="sort" value="-date_of_creation" {% if selected_sort == "-date_of_creation" %} selected {%endif%}>
                                            Дате
                                    </option>
                                    <option class="order__item" name="sort" value="-num_of_stars" {% if selected_sort == "-num_of_stars" %} selected {%endif%}>
                                            Популярности
                                    </option>
                                    <option class="order__item" name="sort" value="title" {% if selected_sort == "title" %} selected {%endif%}>
                                            Алфавиту
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if is_data_exist %}
                        <div class="cards-wrapper">
                            <!-- Insert cards -->
                            {% for recipe, r_photo in recipes %}
                                {% show_recipe_cart recipe r_photo request %}
                            {% endfor %}
                        </div>
                        {% if page_obj.has_next %}
                        <button class="load-next-page-btn" id="load-next-page-btn" onclick="loadNextPage({{ request.path }})" data-next_page="{{page_obj.next_page_number}}" data-request_args="{{ request.GET.urlencode }}">
                            Загрузить еще...
                        </button>
                        {% endif %}
                    {% else %}
                         <div class="recipe-not-found">
                             <img src="{% static 'main/images/recipe_icon.png' %}">
                            К сожалению, таких рецептов еще нет.. Но вы можете <a href="{% url 'my_recipes'%}">добавить новый рецепт</a>
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>


    </section>

{% endblock %}

{% block custom_js %}
{% if request.user.is_authenticated %}
<script src="{% static 'main/js/recipe_cart.js' %}"></script>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$( function() {
var availableTags = [ {% for prod in products %} "{{prod.name}}", {% endfor %}
];
$( "#tags" ).autocomplete({
  source: availableTags
});
} );
</script>
<script src="{% static 'main/js/catalogue.js' %}"></script>
{% endblock %}