{% extends "main/base_generic.html" %}

{% load static %}

{% block title %} <title>Изменение пароля | Kitchen World</title> {% endblock %}

{% block extends_header %}
<!--== Start Header ==-->
<header class="header content-vertical-center" id="header">
    <div class="container">

        <!--== Start Welcome ==-->
        <div class="container">

            <form class=" login-form" method="post">
                {% csrf_token %}
                <div class="login-form__inner">
                    <div class="login-form__errors">{{ form.non_field_errors }}</div>
                    {% for field in form %}
                        {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                            <li class="login-form__errors">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <label class="login-form__title" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}

                    {% endfor %}

                    <div class="btn-wrapper">
                        <button class="btn submit active" type="submit">Изменить пароль</button>
                    </div>
                </div>
            </form>
        </div>
        <!--== End Welcome ==-->

    </div>
</header>
<!--== End Header ==-->
{% endblock %}
