<div class="recipe-comment">
    <img src="{{ comment.user.author.photo.url }}" alt="#" class="recipe-comment__img">
    <div class="recipe-comment__desc{% if comment.user == request.user %} my_comment {% endif %}">
        <div class="recipe-comment__head">
            <div class="recipe-comment__info">
                <a class="recipe-comment__author-named" href="#">{{ comment.user.username|title }}</a>
                <span class="recipe-comment__date">{{ comment.date_of_creation }}</span>
            </div>
            <div class="recipe-comment__action">
                {% if request.user.is_authenticated %}<button class="comment_action-btn" name="answer_comment_btn" id="{{ comment.pk }}">Ответить</button>{% endif %}
                {% if comment.user == request.user %}
                <form action="{{ comment.recipe.slug }}/delete-comment/{{ comment.pk }}" method="post">
                    {% csrf_token %}
                    <button class="comment_action-btn" type="submit">Удалить</button>
                </form>
                {% endif %}
            </div>
        </div>
        <p class="paragraph recipe-comment__text">
            {{ comment.text }}
        </p>
    </div>
</div>