{% extends "main/base_generic.html" %}

{% load static %}
{% load main_tags %}

{% block title %}<title>Kitchen World Соцсеть для кулинаров</title>{% endblock %}

{% block extends_header %}
<!--== Start Header ==-->
<header class="header" id="header">
    <div class="container">

        <!--== Start Welcome ==-->
            <img src="{% static 'main/images/welcome.svg' %}" alt="" class="header__img">
        <!--== End Welcome ==-->
        <div>
            <p>
                Готовить может каждый!
            </p>
        </div>

    </div>
</header>
<!--== End Header ==-->
{% endblock %}

{% block main_content %}
    <!--== Start Main Content ==-->
    {% for section_name, recipes in sections %}
    <!--== Start New Section ==-->
    <section class="section new" id="new">
        <div class="container">
            <h2 class="section-title">{{ section_name}}</h2>
            <div class="new__swiper">
                <div class="swiper-wrapper">
                    <!-- Slides -->

                    {% for recipe, r_photo in recipes %}
                    <div class="swiper-slide">
                        {% show_recipe_cart recipe r_photo %}
                    </div>
                    {% endfor %}

                </div>

                <div class="new__swiper-pagination"></div>

            </div>
        </div>
    </section>
    <!--== End New Section ==-->
    {% endfor %}



    <!--== End Main Content ==-->
{% endblock %}