{% extends "main/base_generic.html" %}

{% load static %}

{% block title %}<title>KitchenWorld</title>{% endblock %}

{% block main_content %}
    <form action="{% url 'add_recipe' %}" class="new_recipe" id="new_recipe" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <!-- Recipe title start -->
        <section class="section recipe-name" id="recipe-name">
            <div class="container">
                <input class="input" type="text" name="title" id="title" placeholder="Название" required>
            </div>
        </section>
        <!-- Recipe title end -->

        <!-- Recipe images start -->
        <section class="section recipe-images" id="recipe-images">
            <div class="container">
                <!-- Swiper -->
                <div class="recipe-images__swiper">
                    <div class="swiper-wrapper" id="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide new-swiper-slide">
                            <div class="add-new-recipe-img">
                                <label for="preview-images" class="add-new-recipe-img__label">
                                    <p>Выберите фотографии</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="file" accept="image/png, image/jpeg" name="main_photo" id="preview-images"
                       multiple onchange="loadMainPhoto(event)" required>
            </div>
        </section>
        <!-- Recipe images end -->

        <!-- Recipe images start -->
        <section class="section recipe-images-small" id="recipe-images-small">
            <div class="container">
                <div class="recipe-color-wrapper">
                    <div class="recipe-images-small-wrapper" id="recipe-images-small-wrapper">
    
                    </div>
                </div>
            </div>
        </section>
        <!-- Recipe images end -->


        <!-- Recie info start -->
        <section class="section recipe-info" id="recipe-info">
            <div class="container">
                <div class="recipe-color-wrapper">
                    <div class="recipe-info-inner">

                        <div class="card__info recipe-info__info new-card__info">
                            <!-- Statistic -->
                            <div class="card__interaction-wrapper">
                                <!-- Tags -->
                                <div class="new-card__categories-wrapper" id="categories-tags">
                                    <div class="new-category-wpapper">
                                        <div class="category-autocomplete">
                                            <input type="text" class="input" placeholder="Категория" id="category_maker">
                                             <ul class="autocomplete-items" id="category-autocomplete-list">
                                             </ul>
                                        </div>
                                        <button type="button" class="btn-green" id="add-category-btn">Добавить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card__statistics-wrapper">
                                <p class="card__time card__time_light"></p>
                                <input size="8" type="time" value="" name="cooking_time" class="input small-input"
                                    id="cooking_time" title="Время приготовления" style="max-width: 100px; margin-left: 15px;" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Recie info end -->

        <!-- Ingredients start -->
        <section class="section recipe-desc" id="recipe-desc">
            <div class="container">
                <div class="recipe-color-wrapper">
                    <h2 class="section-title section-title_left">Описание</h2>
                    <div class="recipe-desc-inner">

                        <!-- Ingredients start -->
                        <div class="ingredients">
                            <div class="wrapper-flat">
                                <h2 class="section-title section-title_left">Ингредиенты</h2>
                                <div class="total-wrapper">
                                    <!-- Number of servings -->
                                    <label for="servings">Порций</label>
                                    <input size="3" type="text" value="" name="num_of_servings" class="input small-input"
                                        id="servings" required oninput="numberOnly(this)">

                                    <!-- weight -->
                                    <label for="total-weight">Вес готового изделия</label>
                                    <input size="3" type="text" value="" name="total-weight" oninput="numberOnly(this)"
                                        class="input small-input" id="total-weight" required>
                                    <select name="total-weight-units" id="total-weight-units"
                                        class="input small-input small-select">
                                        <option value="G">г</option>
                                        <option value="ML">мл</option>
                                        <option value="P">шт</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Ingredients list (with analogs) start -->
                            <div class="ingredient-wrapper ingredient-wrapper_bordered" id="ingredient-list">

                            </div>
                            <!-- Ingredients list (with analogs) end -->

                            <!-- ########################## -->

                            <!-- Add ingredient start -->
                            <div class="ingredient-wrapper ingredient-wrapper_bordered" >
                                <div class="add-new-ingredient" id="new_ingredient_block">
                                    <div class="add-new-ingredient__inner">
                                        <div class="product-autocomplete">
                                            <input class="input input-420 prod-auto-input" type="text"
                                                placeholder="Название ингредиента" value="" id="ingredient_maker">
                                            <ul class="autocomplete-items" id="product-autocomplete-list">
                                            </ul>
                                        </div>
                                        <div class="ingredient-params__param">
                                            <input type="text" value="" oninput="numberOnly(this)" class="input small-input" id="ingredient-weight">
                                            <input type="text" value="" class="input small-input"
                                                id="ingredient-units" readonly>
                                        </div>
                                    </div>
                                    <textarea class="input auto" cols="30" rows="4"
                                        placeholder="Комментарий к ингредиенту" id="ingredient-comment"></textarea>
                                    <div class="ingredient-params__param ingredient-params__param-right">
                                        <button type="button" class="btn-green" id="add-new-ingredient">Добавить</button>
                                    </div>
                                </div>
                            </div>
                             <!-- Add ingredient end -->

                        </div>
                        <!-- Ingredients end -->




                        <textarea class="input recipe-desc__desc paragraph auto" name="recipe_description" placeholder="Описание" required></textarea>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ingredients end -->


        <!-- Steps start -->
        <section class="section recipe-steps" id="recipe-steps">
            <div class="container">
                <div class="recipe-color-wrapper">
                    <h2 class="section-title section-title_left">
                        Рецепт приготовления
                    </h2>
                    <div class="recipe-steps-wrapper" id="steps-block">
                        <!-- Steps will be here -->
                    </div>
                    <!-- New step start -->
                    <div class="new-recipe-step">
                        <button type="button" class="btn-green btn-green-ghost" id="add-step">Добавить шаг</button>
                    </div>
                    <!-- New step end -->
                </div>
            </div>
        </section>
        <!-- Steps end -->

        <!-- Save start -->
        <section class="section recipe-save" id="recipe-save">
            <div class="container">
                <div class="recipe-color-wrapper">
                    <div class="new-recipe-step">
                        <input type="hidden" name="status" value="to_drafts">
                        <button type="submit" class="btn-green btn-green-ghost" id="to_drafts" onclick="toDraftsRecipe(this)">Сохранить в
                            черновики</button>
                        <button type="submit" class="btn-green" id="publish" onclick="publishRecipe(this)">Опубликовать</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Save end -->


    </form>
{% endblock %}

{% block custom_js %}
<script src="{% static 'main/js/new_recipe.js' %}"></script>
{% endblock %}
