{% extends "main/base_generic.html" %}
{% block title %} <title>Рецепт</title> {% endblock %}

{% load static %}
{% load main_tags %}

{% block main_content %}
    <!-- Recipe title start -->
    <section class="section recipe-name" id="recipe-name">
        <div class="container">
            <h1 class="recipe-name__title">{{recipe.title}}</h1>
        </div>
    </section>
    <!-- Recipe title end -->

    <!-- Recipe images start -->
    <section class="section recipe-images" id="recipe-images">
        <div class="container">
            <!-- Swiper -->
            <div class="recipe-images__swiper">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for p in recipe.recipephoto_set.all %}
                        <div class="swiper-slide"><img src="{{ p.photo.url }}" alt="photo-of-recipe"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Recipe images end -->


    <!-- Recie info start -->
    <section class="section recipe-info" id="recipe-info">
        <div class="container">
            <div class="recipe-color-wrapper">
                <div class="recipe-info-inner">
                    <!-- Link to autor -->
                    <a href="{{ recipe.user.author.get_absolute_url }}" class="card__recipe-autor ">
                        <img src="{% if recipe.user.author.photo %} {{ recipe.user.author.photo.url }}
                     {% else %} {%static 'main/images/user.svg' %} {% endif %}" alt="Autor" class="card__recipe-autor-avatar">
                        <div class="card__recipe-inner">
                            <h3 class="card__recipe-autor-name card__recipe-autor-name_light">{{ recipe.user.username|title }}</h3>
                            <span class="card__recipe-time card__recipe-time_light">{{ recipe.date_of_creation }}</span>
                        </div>
                    </a>

                    <div class="card__info recipe-info__info">
                        <!-- Statistic -->
                        <div class="card__interaction-wrapper">
                            <div class="card__interaction" {% if request.user.is_authenticated %}name="L_{{recipe.id}}" {% if is_liked %}onclick="Like('/stars_off/', 'L_{{recipe.id}}')"{% else %}onclick="Like('/stars_on/', 'L_{{recipe.id}}')"{% endif %}{% endif %}>
                                <button type="button" class="card__stars card__stars_light {% if is_liked%}active{% endif %}"></button>
                                <p>{{ recipe.num_of_stars }}</p>
                            </div>
                            <div class="card__interaction">
                                <button type="button" class="card__comments card__comments_light"></button>
                                {{ recipe.num_of_comments }}
                            </div>
                            <div class="card__interaction" {% if request.user.is_authenticated %}name="B_{{recipe.id}}" {% if is_bookmark %}onclick="Like('/stars_off/', 'B_{{recipe.id}}')"{% else %}onclick="Like('/stars_on/', 'B_{{recipe.id}}')"{% endif %}{% endif %}>
                                <button type="button" class="card__bookmarks card__bookmarks_light {% if is_bookmark %}active{% endif %}"></button>
                                <p>{{ recipe.num_of_bookmarks }}</p>
                            </div>
                        </div>
                        <div class="card__statistics-wrapper">
                            <div class="card__statistic">
                                <button type="button" class="card__time card__time_light"></button>
                                {{ recipe.cooking_time }}
                            </div>
                            <div class="card__statistic">
                                <button type="button" class="card__calories card__calories_light"></button>
                                {{ recipe.calories }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tags -->
                <div class="card__categories-wrapper">
                    {% for c in recipe.categories.all %}
                    <a href="#" class="category category_light">#{{ c.name|lower }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Recie info end -->

    <!-- Ingredients start -->
    <section class="section recipe-desc" id="recipe-desc">
        <div class="container">
            <div class="recipe-color-wrapper">
                <h2 class="section-title section-title_left">Описание</h2>
                <div class="recipe-desc-inner">

                    <!-- Ingredients start -->
                    <form action="#" class="ingredients" name="ingredients">
                        <div class="wrapper-flat">
                            <h2 class="section-title section-title_left">Ингредиенты</h2>
                            <div class="total-wrapper">
                                 <div>
                                    <!-- Number of servings -->
                                    <input size="3" type="text" value="{{recipe.num_of_servings}}" name="c" class="input small-input"
                                        id="servings" data-original_quantity="{{ recipe.num_of_servings }}">
                                    <label for="servings">Порций</label>
                                </div>
                                 <div>
                                    <!-- kcal -->
                                    <input size="3" type="text" value="{{recipe.calories}}" name="kcal" class="input small-input total-input" id="kcal" data-original_quantity="{{ recipe.calories }}" >
                                    <label for="kcal">ккал</label>
                                 </div>
                                 <div>
                                    <!-- weight -->
                                    <input size="3" type="text" value="{{recipe.finished_product_weight}}" name="total-weight" class="input small-input total-input"
                                        id="total-weight" data-original_quantity="{{ recipe.finished_product_weight }}">
                                    <select name="total-weight-units" id="total-weight-units"
                                        class="input small-input small-select">
                                        <option value="{{ recipe.dimension }}" name="{{ recipe.get_dimension_display }}" selected >{{ recipe.get_dimension_display }}</option>
                                    </select>
                                 </div>
                            </div>
                        </div>

                        <!-- First ingredient (with analogs) start -->
                        {% for ingredient in recipe.recipeingredient_set.all %}
                        {% if not ingredient.main_ingredient %}
                        <div class="ingredient-wrapper">
                            <!-- Ingredient / analog. If analog, append class analog -->
                            <div class="ingredient">
                                <div class="ingredient-number">{{ ingredient.index }}</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">{{ ingredient.product.name }}</h3>
                                    <p class="ingredient-desc">
                                        {{ ingredient.comment }}
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <div style="display: flex; flex-shrink: 0;">
                                    <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                    <input type="text" value="{{ ingredient.quantity }}" name="id" class="input small-input" id="{{ ingredient.id }}" data-original_quantity="{{ ingredient.quantity }}">
                                    <select name="id-units" id="{{ ingredient.id }}-{{ ingredient.product.dimension }}" class=" input small-input small-select">
                                        <option value="{{ ingredient.product.dimension }}" name="{{ ingredient.product.get_dimension_display }}" selected >{{ ingredient.product.get_dimension_display }}</option>
                                    </select>
                                </div>
                            </div>
                            {% for analog in ingredient.recipeingredient_set.all %}
                            <div class="ingredient ingredient_analog">
                                <div class="ingredient-number">{{analog.index}}</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">{{analog.product.name}}</h3>
                                    <p class="ingredient-desc">
                                        {{ analog.comment }}
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <div>
                                    <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                    <input type="text" value="{{ analog.quantity }}" name="id" class="input small-input" id="{{ analog.id }}" data-original_quantity="{{ analog.quantity }}">
                                    <select name="id-units" id="{{ analog.id }}-{{ analog.product.dimension }}" class=" input small-input small-select">
                                        <option value="{{ analog.product.dimension }}" name="{{ analog.product.get_dimension_display }}" selected>{{ analog.product.get_dimension_display }}</option>
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}

                    </form>
                    <!-- Ingredients end -->

                    <div class="paragraph recipe-desc__desc">
                        {{ recipe.description|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ingredients end -->

    {% if recipe.recipestep_set.all %}
    <!-- Steps start -->
    <section class="section recipe-steps" id="recipe-steps">
        <div class="container">
            <div class="recipe-color-wrapper">
                <h2 class="section-title section-title_left">
                    Рецепт приготовления {{ recipe.title }}
                </h2>
                <div class="recipe-steps-wrapper">

                    {% for step in recipe.recipestep_set.all %}
                    <!-- Step start -->
                    <div class="recipe-step">
                        <img src="{{ step.photo.url }}" alt="#" class="recipe-step__img">
                        <div class="recipe-step__desc">
                            <h2 class="section-title section-title_left">{{ step.title }}</h2>
                            <p class="paragraph recipe-step__text">
                                {{ step.description }}
                            </p>
                        </div>
                    </div>
                    <!-- Step end -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- Steps end -->
    {% endif %}

    <!-- Comments start -->
        <section class="section recipe-comments" id="recipe-comments">
            <div class="container">
                <div class="recipe-color-wrapper">
                     <h2 class="section-title section-title_left">
                        Комментарии
                    </h2>
                    <div class="recipe-comments-wrapper">
                        {% autoescape off %}
                        {% show_all_comments comments request %}
                        {% endautoescape %}
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="recipe-add-comment">
                        <div class="recipe-comment-reply hide" id="comment-reply-message">
                            <p>Ответ на: </p>
                            <button class="comment_action-btn" id="cancel_btn">Отменить</button>
                        </div>
                        <form class="btn-input-block" action="{{ recipe.slug }}/add-comment/" method="post" id="sent_comment">
                            {% csrf_token %}
                                <input class="input btn-input" type="text" required name="new_comment" placeholder="Ваш отзыв" id="new-comment-input">
                                <button class="btn active in-input-btn" type="submit">Отправить</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    <!-- Comments end -->

{% endblock %}

{% block custom_js %}
<script src="{% static 'main/js/comment.js' %}"></script>
<script src="{% static 'main/js/recipe_ingredient_converter.js' %}"></script>
{% if request.user.is_authenticated %}
<script src="{% static 'main/js/recipe_cart.js' %}"></script>
{% endif %}
{% endblock %}
