<div class="card" data-recipeId="{{ recipe.id }}">
    <div class="card__header">
        <a href="#" class="card__recipe-autor">
            <img src="{{ recipe.user.author.photo.url }}" alt="" class="card__recipe-autor-avatar">
            <div class="card__recipe-inner">
                <h3 class="card__recipe-autor-named">{{ recipe.user.username|title }}</h3>
<!--            <span class="card__recipe-time">20.10.2022 в 15:58</span>-->
                <span class="card__recipe-time">{{ recipe.date_of_creation }}</span>
            </div>
        </a>
        <button type="button" class="card__dots"></button>
    </div>
    <a href="{{ recipe.get_absolute_url }}" class="card-link">
        <img src="{{ r_photo.photo.url }}" alt="" class="card__img">
    </a>

    <div class="card__info">
        <div class="card__interaction-wrapper">
            <div class="card__interaction">
                <button class="card__stars"></button>
                {{ recipe.num_of_stars }}
            </div>
            <div class="card__interaction">
                <button class="card__comments"></button>
                {{ recipe.num_of_comments }}
            </div>
            <div class="card__interaction">
                <button class="card__bookmarks"></button>
                {{ recipe.num_of_bookmarks }}
            </div>
        </div>
        <div class="card__statistics-wrapper">
            <div class="card__statistic">
                <button class="card__time"></button>
                {{ recipe.cooking_time }}
            </div>
            <div class="card__statistic">
                <button class="card__calories"></button>
                {{ recipe.calories }}
            </div>
        </div>
    </div>
    <h3 class="card__title"><a href="{{ recipe.get_absolute_url }}" class="card-link">{{ recipe.title }}</a> </h3>
    <p class="card__description">{{ recipe.description|truncatechars:100 }}<span
            class="card__more">ещё</span></p>
    <div class="card__categories-wrapper">
        {% for c in recipe.categories.all %}
        <a class="category">#{{ c.name|lower }}</a>
        {% endfor %}
    </div>

</div>