{% extends "main/base_generic.html" %}
{% block title %} <title>Рецепт</title> {% endblock %}

{% load static %}

{% block main_content %}
    <!-- Recipe title start -->
    <section class="section recipe-name" id="recipe-name">
        <div class="container">
            <h1 class="recipe-name__title">Strawberry sponge cake with plum cream</h1>
        </div>
    </section>
    <!-- Recipe title end -->

    <!-- Recipe images start -->
    <section class="section recipe-images" id="recipe-images">
        <div class="container">
            <!-- Swiper -->
            <div class="recipe-images__swiper">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="{% static 'main/images/photo-of-recipe-1.png' %}" alt="photo-of-recipe"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recipe images end -->


    <!-- Recie info start -->
    <section class="section recipe-info" id="recipe-info">
        <div class="container">
            <div class="recipe-color-wrapper">
                <div class="recipe-info-inner">
                    <div class="card__recipe-autor ">
                        <img src="{% static 'main/images/avatar.png' %}" alt="Autor" class="card__recipe-autor-avatar">
                        <div class="card__recipe-inner">
                            <h3 class="card__recipe-autor-name card__recipe-autor-name_light">User name</h3>
                            <span class="card__recipe-time card__recipe-time_light">20.10.2022 в 15:58</span>
                        </div>
                    </div>

                    <div class="card__info recipe-info__info">
                        <!-- Statistic -->
                        <div class="card__interaction-wrapper">
                            <div class="card__interaction">
                                <button type="button" class="card__stars card__stars_light"></button>
                                999
                            </div>
                            <div class="card__interaction">
                                <button type="button" class="card__comments card__comments_light"></button>
                                999
                            </div>
                            <div class="card__interaction">
                                <button type="button" class="card__bookmarks card__bookmarks_light"></button>
                                999
                            </div>
                        </div>
                        <div class="card__statistics-wrapper">
                            <div class="card__statistic">
                                <button type="button" class="card__time card__time_light"></button>
                                999
                            </div>
                            <div class="card__statistic">
                                <button type="button" class="card__calories card__calories_light"></button>
                                999
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tags -->
                <div class="card__categories-wrapper">
                    <a href="#" class="category category_light">#тегиблюда</a>
                    <a href="#" class="category category_light">#категории</a>
                    <a href="#" class="category category_light"> #категоряи2</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Recie info end -->

    <!-- Ingredients start -->
    <section class="section recipe-desc" id="recipe-desc">
        <div class="container">
            <div class="recipe-color-wrapper">
                <h2 class="section-title section-title_left">Описание</h2>
                <div class="recipe-desc-inner">

                    <!-- Ingredients start -->
                    <form action="#" class="ingredients">
                        <div class="wrapper-flat">
                            <h2 class="section-title section-title_left">Ингредиенты</h2>
                            <div class="total-wrapper">
                                <!-- Number of servings -->
                                <input size="3" type="text" value="5.5" name="c" class="input small-input"
                                    id="servings">
                                <label for="servings">Порций</label>
                                <!-- kcal -->
                                <input size="3" type="text" value="999" name="kcal" class="input small-input" id="kcal">
                                <label for="kcal">ккал</label>
                                <!-- weight -->
                                <input size="3" type="text" value="2.5" name="total-weight" class="input small-input"
                                    id="total-weight">
                                <select name="total-weight-units" id="total-weight-units"
                                    class="input small-input small-select">
                                    <option size="1" value="1000">кг</option>
                                    <option size="2" value="1">г</option>
                                </select>
                            </div>
                        </div>

                        <!-- First ingredient (with analogs) start -->
                        <div class="ingredient-wrapper">
                            <!-- Ingredient / analog. If analog, append class analog -->
                            <div class="ingredient">
                                <div class="ingredient-number">1</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">Мука пшеничная</h3>
                                    <p class="ingredient-desc">
                                        (первый сорт)(первый сорт)(первый сорт)(первый сорт)(первый сорт)
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                <input type="text" value="2.5" name="id" class="input small-input" id="id">
                                <select name="id-units" id="id-units" class=" input small-input small-select">
                                    <option value="1000">кг</option>
                                    <option value="1">г</option>
                                </select>
                            </div>

                            <div class="ingredient ingredient_analog">
                                <div class="ingredient-number">1</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">Мука пшеничная</h3>
                                    <p class="ingredient-desc">
                                        (первый сорт)(первый сорт)(первый сорт)(первый сорт)(первый сорт)
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                <input type="text" value="2.5" name="id" class="input small-input" id="id">
                                <select name="id-units" id="id-units" class=" input small-input small-select">
                                    <option value="1000">кг</option>
                                    <option value="1">г</option>
                                </select>
                            </div>
                        </div>
                        <!-- ########################## -->
                        <div class="ingredient-wrapper">
                            <!-- Ingredient start -->
                            <div class="ingredient">
                                <div class="ingredient-number">1</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">Мука пшеничная</h3>
                                    <p class="ingredient-desc">
                                        (первый сорт)(первый сорт)(первый сорт)(первый сорт)(первый сорт)
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                <input type="text" value="2.5" name="id" class="input small-input" id="id">
                                <select name="id-units" id="id-units" class=" input small-input small-select">
                                    <option value="1000">кг</option>
                                    <option value="1">г</option>
                                </select>
                            </div>
                            <!-- Ingredient end -->

                            <!-- Ingredient analog start -->
                            <div class="ingredient ingredient_analog">
                                <div class="ingredient-number">1</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">Мука пшеничная</h3>
                                    <p class="ingredient-desc">
                                        (первый сорт)(первый сорт)(первый сорт)(первый сорт)(первый сорт)
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                <input type="text" value="2.5" name="id" class="input small-input" id="id">
                                <select name="id-units" id="id-units" class=" input small-input small-select">
                                    <option value="1000">кг</option>
                                    <option value="1">г</option>
                                </select>
                            </div>
                            <!-- Ingredient analog end -->

                        </div>
                        <!-- ########################## -->
                        <div class="ingredient-wrapper">
                            <!-- Ingredient start -->
                            <div class="ingredient">
                                <div class="ingredient-number">1</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">Мука пшеничная</h3>
                                    <p class="ingredient-desc">
                                        (первый сорт)(первый сорт)(первый сорт)(первый сорт)(первый сорт)
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                <input type="text" value="2.5" name="id" class="input small-input" id="id">
                                <select name="id-units" id="id-units" class=" input small-input small-select">
                                    <option value="1000">кг</option>
                                    <option value="1">г</option>
                                </select>
                            </div>
                            <!-- Ingredient end -->

                            <!-- Ingredient analog start -->
                            <div class="ingredient ingredient_analog">
                                <div class="ingredient-number">1</div>
                                <div class="ingredient-inner">
                                    <h3 class="ingredient-title">Мука пшеничная</h3>
                                    <p class="ingredient-desc">
                                        (первый сорт)(первый сорт)(первый сорт)(первый сорт)(первый сорт)
                                    </p>
                                </div>
                                <button type="button" class="list-arrow"></button>
                                <div class="dashed-line"></div>
                                <!-- weight нужно на стороне сервера менять 'id' на id ингредиента  -->
                                <input type="text" value="2.5" name="id" class="input small-input" id="id">
                                <select name="id-units" id="id-units" class=" input small-input small-select">
                                    <option value="1000">кг</option>
                                    <option value="1">г</option>
                                </select>
                            </div>
                            <!-- Ingredient analog end -->

                        </div>
                        <!-- Ingredients list (with analogs) end -->

                    </form>
                    <!-- Ingredients end -->


                    <p class="paragraph recipe-desc__desc">
                        Главный секрет идеальных сырников — а точнее творожников, — творог нужно протереть через мелкое
                        сито и отжать от влаги. Жирность предпочтительна не больше и не меньше 9%. Тесто должно
                        получиться эластичным, чтобы при надавливании сырник не треснул на сковородке, а сохранил форму.
                        Если все сделать правильно, получатся нежные однородные кругляшки под плотной румяной корочкой.
                        Сырники можно запекать в духовке или готовить на пару. В рецепте не исключаются эксперименты с
                        начинкой — сухофрукты, орехи, свежие фрукты и даже картофель лишними не будут. Приятного
                        аппетита!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Ingredients end -->


    <!-- Steps start -->
    <section class="section recipe-steps" id="recipe-steps">
        <div class="container">
            <div class="recipe-color-wrapper">
                <h2 class="section-title section-title_left">
                    Рецепт приготовления Strawberry sponge cake with plum cream
                </h2>
                <div class="recipe-steps-wrapper">

                    <!-- Step start -->
                    <div class="recipe-step">
                        <div class="recipe-step__desc">
                            <h2 class="section-title section-title_left">Шаг 1</h2>
                            <p class="paragraph recipe-step__text">
                                Положите весь творог в кастрюльку и разомните его вилкой так, чтобы в нем не осталось
                                крупных комков. Разбейте в него яйца, всыпьте сахар и тщательно все перемешайте. Лучше
                                не
                                использовать слишком сухой или слишком влажный творог, иначе сырники будут разваливаться
                                в
                                процессе приготовления.
                            </p>
                        </div>
                        <img src="{% static 'main/images/step-of-recipe.png' %}" alt="#" class="recipe-step__img">
                    </div>
                    <!-- Step end -->

                    <!-- Step start -->
                    <div class="recipe-step">
                        <div class="recipe-step__desc">
                            <h2 class="section-title section-title_left">Шаг 1</h2>
                            <p class="paragraph recipe-step__text">
                                Положите весь творог в кастрюльку и разомните его вилкой так, чтобы в нем не осталось
                                крупных комков. Разбейте в него яйца, всыпьте сахар и тщательно все перемешайте. Лучше
                                не
                                использовать слишком сухой или слишком влажный творог, иначе сырники будут разваливаться
                                в
                                процессе приготовления.
                            </p>
                        </div>
                        <img src="{% static 'main/images/step-of-recipe.png' %}" alt="#" class="recipe-step__img">
                    </div>
                    <!-- Step end -->

                    <!-- Step start -->
                    <div class="recipe-step">
                        <div class="recipe-step__desc">
                            <h2 class="section-title section-title_left">Шаг 1</h2>
                            <p class="paragraph recipe-step__text">
                                Положите весь творог в кастрюльку и разомните его вилкой так, чтобы в нем не осталось
                                крупных комков. Разбейте в него яйца, всыпьте сахар и тщательно все перемешайте. Лучше
                                не
                                использовать слишком сухой или слишком влажный творог, иначе сырники будут разваливаться
                                в
                                процессе приготовления.
                            </p>
                        </div>
                        <img src="{% static 'main/images/step-of-recipe.png' %}" alt="#" class="recipe-step__img">
                    </div>
                    <!-- Step end -->
                </div>
            </div>
        </div>
    </section>
    <!-- Steps end -->

{% endblock %}