
/* ----------- */


.recipes {
  padding-top: 20px;
}

.recipes-container {
  max-width: 1790px;
  margin: 0 auto;
}

.recipes-wrapper {
  display: flex;
  align-items: flex-start;
}

.menu {
  background: #5A5050;
  border-radius: 25px;
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  margin-left: 0.5vw;
  min-width: 330px;
}
.menu .menu__head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
.menu__list {
  margin-top: 20px;
}
.menu__item {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  color: #48b705;
}
.menu__item a, .menu__item a:visited {
  color: #DE8443;
  font-size: 16px;
  line-height: 1.45em;
}
.menu__item.active a, .menu__item.active a:visited {
  color: #EB452E;
}
.menu__item-img {
  display: block;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

#close-filters-menu-btn{
    width: 30px;
    height: 30px;
    background: url(../images/cross.svg) no-repeat 50% 50% / 30px;
    display: none;
}

.user-avatar {
  display: block;
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 3px solid #140E0B;
}

.content {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content__info h2 {
  color: #DE8443;
}
.content__info .filters-block .filters-btn{
    display: none;
}

.cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 25px;
}

.add-recipe {
  display: block;
  width: 400px;
  height: 650px;
  background: #48B705;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.add-recipe__plus-img {
  width: 83px;
  height: 83px;
  background: url("../img/plus.svg") no-repeat center center/contain;
  margin-bottom: 13px;
}
.add-recipe__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.45em;
  text-align: center;
  color: #fff;
}

details{
  display:block;
  width:300px;
  overflow:hidden;
  margin-bottom: 5px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
   display: flex;
   cursor: pointer;
   position: relative;
   border-bottom: 1px solid #e2e8f0;
   font-weight: bold;
}
summary:before {
  top: .4em;
  right: .3em;
  color: transparent;
  background: url("../images/arrow-down.svg") no-repeat 50% 50% / 10px;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: rotateZ(90deg);
}
summary ~ * {
   padding-left: 20px;
}
details[open] summary ~ *{
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
.switch-item{
margin-top: 5px;
decoration: none;
display: flex;
column-gap: 10px;
}

.switch {
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.switch input {
  display: none;
}
.switch input:checked + .switch__slider {
  background-color: #48B705;
}
.switch input:focus + .switch__slider {
  box-shadow: 0 0 1px #48B705;
}
.switch input:checked + .switch__slider:before {
  transform: translateX(10px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border: 1px solid #48B705;
  border-radius: 25px;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}
.switch__slider.round {
  border-radius: 34px;
}
.switch__slider.round:before {
  border-radius: 50%;
}

div.ui-widget{
    width: 100%;
}

.ui-widget.ui-widget-content {
    max-height: 300px;
    overflow: auto;
}

.product-choose-block{
    padding: 8px 40px 8px 10px;
    border-radius: 25px;
    border: solid 2px #48b705;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D9D9D9;
    max-height: 38px;
}

.autocomplete-input{
    background: #D9D9D9;
    width: 100%;
}

.delete_cross{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: url("../images/cross.svg") no-repeat 50% 50% / 15px;
}

.products_filters{
 display: flex;
 flex-wrap: wrap;
}

.products_filters .menu__item{
  border: 1px solid #48B705;
  border-radius: 25px;
  padding: 2px 5px;
  margin: 3px;
}

.filter__item{
  margin-top: 20px;
  margin-bottom: 5px;
  background: #140e0b;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.filter__item p{
  color: #de8443;
  font-weight: 500;
  font-size: 25px;
}
.filter__item .double-arrow{
  width: 25px;
  height: 25px;
  transition: transform .5s;
}

.filter-submit-btn{
    display: flex;
    justify-content: space-around;
}

.filter-group{
 display: none;
 margin-left: 15px;
 margin-right: 15px;
}
.filter-group.active{
    display: flex;
}

.filter__item.active .double-arrow{
    transform: rotateZ(180deg);
}


.recipe-not-found{
    margin: 120px auto;
    text-align: center;
    max-width: 550px;
    padding: 30px;
    background: #5a5050;;
    border-radius: 25px;
    color: #de8443;
}

.recipe-not-found img{
    display: block;
    width: 200px;
    margin: 20px auto;
}

.recipe-not-found a{
    color: #48B705;
}

.recipe-not-found a:hover  {
    text-shadow: 0px 0px 18px #de8443;
}

.menu-title{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.45em;
    color: #48B705;
}

.load-next-page-btn{
    max-width: 300px;
    padding: 10px;
    border-radius: 25px;
    margin: 20px auto;
    background: none;
    color: #D9D9D9;
    border: 1px solid #48B705;
    display: block;
}

/*Аля адаптив start */

@media screen and (max-width:1640px){
    /* первый уровень сжатия карточек */
    .card{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }
}

@media screen and (max-width:1490px){
    /* второй уровень сжатия карточек */
    .card{
        width: 300px;
        height: 540px;
    }
    .card__img{
        height: 210px;
    }
    .card__description{
        font-size: 13px;
    }
}

@media screen and (max-width:1335px){
    /*откат к начальному размеру карточек */
    .card{
        width: 400px;
        height: 640px;
    }
    .card__img{
        height: 300px;
    }
    .card__description{
        font-size: 14px;
    }
}

@media screen and (max-width:1210px){
    /* первый уровень сжатия карточек */
     .card{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }

    /* Заголовок, поиск и сортировка каждый в своей строке*/
    .content__info{
        flex-direction: column;
        gap: 10px;
    }
    .section-title{
        align-self: flex-start;
        margin-bottom: 0;

    }
    .content__info .filters-block{
        align-self: flex-end;
    }
}

@media screen and (max-width: 1111px){
    /* второй уровень сжатия карточек */
    .card{
        width: 300px;
        height: 540px;
    }
    .card__img{
        height: 210px;
    }
    .card__description{
        font-size: 13px;
    }

    /* панель фильтров переезжает в верх страницы */
    .recipes-wrapper{
        flex-direction: column;
    }
    .menu{
        margin: 0 auto;
    }
    .menu-form-block{
        display: flex;
        justify-content: space-around;
    }
    .menu_exception_filter{
        flex-grow: 3;
        max-width: 330px;
    }
    .menu_category_filter{
        max-width: 330px;
        flex-grow: 0;
    }
    .menu_product_filter{
        flex-grow: 5;
        max-width: 330px;
    }
    .filter-submit-btn button{
        margin: 0 20px;
        flex-grow: 2;

    }

}

@media screen and (max-width: 997px){
    /*откат к начальному размеру карточек */
    .card{
        width: 400px;
        height: 640px;
    }
    .card__img{
        height: 300px;
    }
    .card__description{
        font-size: 14px;
    }
}

@media screen and (max-width: 875px){
     /* первый уровень сжатия карточек */
     .card{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }
}
@media screen and (max-width: 775px){
    /* второй уровень сжатия карточек */
    .card{
        width: 300px;
        height: 540px;
    }
    .card__img{
        height: 210px;
    }
    .card__description{
        font-size: 13px;
    }

    /* панель фильтров всплывает по клику на иконку */
    .recipes-wrapper{
        flex-direction: row;
    }
    .menu{
        width: 330px;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 2;
        border-radius: 0;
        display: none;
        overflow: auto;
        padding-bottom: 300px;
    }
    .menu-form-block{
        display: block;
    }
    .filter-submit-btn button{
        margin: 0;
        flex-grow: 0;
    }
    .menu.active{
        display: flex;
    }
    #close-filters-menu-btn{
        display: block;
    }

    /* стили для кнопки активации фильтров */
    .content__info .filters-block{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .content__info .filters-block .filters-btn{
        display: flex;
        background: #00000000;
        align-items: center;
        margin-left: 23px;
    }
    .content__info .filters-block .filters-btn p{
        color: #48B705;
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 675px){
     /*откат к начальному размеру карточек */
    .card{
        width: 400px;
        height: 640px;
    }
    .card__img{
        height: 300px;
    }
    .card__description{
        font-size: 14px;
    }

    .content__info .search {
        width: 90%;
    }
}
@media screen and (max-width: 455px){
    /* первый уровень сжатия карточек */
    .card{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }
    .content__info .filters-block .filters-btn p{
        display: none;
    }
}

    /*Аля адаптив end */