/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* ---- */
/* Null Style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1{
  font-size: inherit;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------- */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
}

p, span {
  font-size: 16px;
  line-height: 1.45em;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  padding-top: 74px;
}

.section-title {
  color: #000;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 0;
}

.section {
  background: #3A3333;
}

.recipes {
  padding-top: 20px;
}

.recipes-container {
  max-width: 1790px;
  margin: 0 auto;
}

.recipes-wrapper {
  display: flex;
  align-items: flex-start;
}

.menu {
  background: #5A5050;
  border-radius: 25px;
  padding: 20px 15px 30px;
  display: inline-block;
  margin-left: 0.5vw;
}
.menu__list {
  margin-top: 20px;
}
.menu__item {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  color: #48b705;
}
.menu__item a, .menu__item a:visited {
  color: #DE8443;
  font-size: 16px;
  line-height: 1.45em;
}
.menu__item.active a, .menu__item.active a:visited {
  color: #EB452E;
}
.menu__item-img {
  display: block;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.user-avatar {
  display: block;
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 3px solid #140E0B;
}

.content {
  width: 100%;
  margin: 0 130px 0 15px;
}
.content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content__info h2 {
  color: #DE8443;
}

.order {
  display: flex;
  align-items: center;
}
.order__list {
  background: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.45em;
  border: none;
}
.order__item {
  background-color: #3A3333;
  padding: 3px 0;
  color: #fff;
  font-size: 16px;
  line-height: 1.45em;
}

.order-title {
  color: #48B705;
  margin-right: 10px;
}

.cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 25px;
}

.add-recipe {
  display: block;
  width: 400px;
  height: 650px;
  background: #48B705;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.add-recipe__plus-img {
  width: 83px;
  height: 83px;
  background: url("../img/plus.svg") no-repeat center center/contain;
  margin-bottom: 13px;
}
.add-recipe__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.45em;
  text-align: center;
  color: #fff;
}

body{background: #edf2f7;}
details{
  display:block;
  width:300px;
  overflow:hidden;
  margin-bottom: 5px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
   display:block;
   cursor: pointer;
   position: relative;
   border-bottom: 1px solid #e2e8f0;
   font-weight: bold;
}
summary:before {
  top: .4em;
  right: .3em;
  color: transparent;
  background: url("N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: rotateZ(90deg);
}
summary ~ * {
   padding: 0 0 3px 20px;
}
details[open] summary ~ *{
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}

.switch {
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
}
.switch input {
  display: none;
}
.switch input:checked + .switch__slider {
  background-color: #48B705;
}
.switch input:focus + .switch__slider {
  box-shadow: 0 0 1px #48B705;
}
.switch input:checked + .switch__slider:before {
  transform: translateX(10px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border: 1px solid #48B705;
  border-radius: 25px;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}
.switch__slider.round {
  border-radius: 34px;
}
.switch__slider.round:before {
  border-radius: 50%;
}