/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* ---- */
/* Null Style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------- */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
}

p, span {
  font-size: 16px;
  line-height: 1.45em;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  padding-top: 74px;
}

.section-title {
  color: #000;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 30px;
}

.section {
  background: #3A3333;
}

.recipes {
      padding: 20px 0;
}

.recipes-container {
  max-width: 1800px;
  margin: 0 auto;
}

.recipes-wrapper {
  display: flex;
  align-items: flex-start;
}

/* Menu start */
.menu {
  background: #5A5050;
  border-radius: 25px;
  padding: 20px 30px 230px;
  display: inline-block;
  margin: 0 20px;
}
.menu__list {
  margin-top: 20px;
}
.menu__item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.menu__item a, .menu__item a:visited {
  color: #DE8443;
  font-size: 16px;
  line-height: 1.45em;
}
.menu__item.active a, .menu__item.active a:visited {
  color: #EB452E;
}
.menu__item-img {
  display: block;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

#close-profile-menu-btn{
    width: 30px;
    height: 30px;
    background: url(../images/cross.svg) no-repeat 50% 50% / 30px;
    display: none;
}

.user-avatar {
  display: block;
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 3px solid #140E0B;
}

/* Menu end */
.content {
  width: 100%;
}

.content__info{
    display: flex;
    margin: 0 20px;
    align-items: center;
    margin-bottom: 30px;
}
.content__info h2 {
    display: flex;
    color: #DE8443;
    justify-content: center;
    flex-grow: 2;
    margin: 0;
}

.content__info .profile-menu-btn {
    background: #00000000;
    display: none;
    align-items: center;
    gap: 20px;

}
.content__info .profile-menu-btn p{
    color: #48b705;
    font-size: 27px;
    font-weight: 700;
}

.content__info .profile-menu-btn .profile-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: solid 2px #48b705;
}

.order {
  display: flex;
  align-items: center;
}
.order__list {
  background: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.45em;
  border: none;
}
.order__item {
  background-color: #3A3333;
  padding: 3px 0;
  color: #fff;
  font-size: 16px;
  line-height: 1.45em;
}

.order-title {
  color: #48B705;
  margin-right: 10px;
}

.cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 25px;
}

.add-recipe {
  display: block;
  width: 400px;
  height: 650px;
  background: #48B705;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.add-recipe__plus-img {
  width: 83px;
  height: 83px;
  background: url("../images/plus.svg") no-repeat center center/contain;
  margin-bottom: 13px;
}
.add-recipe__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.45em;
  text-align: center;
  color: #fff;
}
.my_exceptions {
  background: #5a5050;
  width: 100%;
  border-radius: 25px;
  padding-top: 20px;
  margin-bottom: 300px;
}
.exceptions__list {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    list-style-position: inside;
}
.exceptions__item {
    background-color: #e4e3e1;
    padding: 10px 20px;
    border-radius: 25px;
    border: solid 2px #48b705;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exceptions__item * {
    display: inline-block;

}
.delete_exception_btn{
    background: url("../images/delete.svg") no-repeat center center/contain;
    width: 30px;
    height: 30px;
}
form.ui-widget{
    width: 100%;
    padding-right: 100px;
}

.autocomplete-input{
    width: 100%;
    background-color: #e4e3e1;
}

.ui-widget.ui-widget-content {
    max-height: 300px;
    overflow: auto;
}

/*Аля адаптив start */
@media screen and (max-width:1640px){
    /* первый уровень сжатия карточек */
    .card, .add-recipe{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }
}

@media screen and (max-width:1490px){
    /* второй уровень сжатия карточек */
    .card, .add-recipe{
        width: 300px;
        height: 540px;
    }
    .card__img{
        height: 210px;
    }
    .card__description{
        font-size: 13px;
    }
}

@media screen and (max-width:1335px){
    /*откат к начальному размеру карточек */
    .card, .add-recipe{
        width: 400px;
        height: 640px;
    }
    .card__img{
        height: 300px;
    }
    .card__description{
        font-size: 14px;
    }
}

@media screen and (max-width:1210px){
    /* первый уровень сжатия карточек */
     .card, .add-recipe{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }
}

@media screen and (max-width: 1111px){
    /* второй уровень сжатия карточек */
    .card, .add-recipe{
        width: 300px;
        height: 540px;
    }
    .card__img{
        height: 210px;
    }
    .card__description{
        font-size: 13px;
    }

    /* панель меню профиля всплывает по клику на кнопку */
    .content__info .profile-menu-btn {
        display: flex;
    }
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 2;
        border-radius: 0;
        display: none;
        overflow: auto;
        margin: 0;
    }
     .menu.active{
        display: block;
    }

    #close-profile-menu-btn{
        display: block;
        margin-left: 225px;
    }
}

@media screen and (max-width: 997px){
    /*откат к начальному размеру карточек */
    .card, .add-recipe{
        width: 400px;
        height: 640px;
    }
    .card__img{
        height: 300px;
    }
    .card__description{
        font-size: 14px;
    }
}

@media screen and (max-width: 875px){
     /* первый уровень сжатия карточек */
     .card, .add-recipe{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }
}

@media screen and (max-width: 775px){
    /* второй уровень сжатия карточек */
    .card, .add-recipe{
        width: 300px;
        height: 540px;
    }
    .card__img{
        height: 210px;
    }
    .card__description{
        font-size: 13px;
    }
}

@media screen and (max-width: 675px){
     /*откат к начальному размеру карточек */
    .card, .add-recipe{
        width: 400px;
        height: 640px;
    }
    .card__img{
        height: 300px;
    }
    .card__description{
        font-size: 14px;
    }
}

@media screen and (max-width: 455px){
    /* первый уровень сжатия карточек */
    .card, .add-recipe{
        width: 350px;
        height: 600px;
    }
    .card__img{
        height: 260px;
    }

    .content__info{
        flex-wrap: wrap;
    }
}